/* ====================================
              NOTES
==================================== */

/* background-color: #2a52be; */
/* background-color: #0066ff; */
/* text color: rgb(42, 42, 42); */
/* babyblue:  #a5ddf6; */
/* ====================================
              END OF NOTES
==================================== */
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

/* ====================================
              NAV
==================================== */

.nav {
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0066ff;
  color: white;
}

.navSvgContainer {
  display: flex;
  height: 4rem;
  z-index: 1;
}

.navSvg {
  height: 100%;
  width: 100%;
}
.ieDesignsContainer {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  margin-top: 1.5rem;
}
.ieDesignsContainer div {
  font-size: 1rem;
  font-weight: 600;
}
/* ====================================
              HERO
==================================== */
.hero {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  height: 110vh;
  width: 100%;
  background-image: url("../public/layers4.svg");
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  font-style: italic;
}

.heroBox {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 55rem;
  width: 90%;
}

.heroBox h1 {
  margin-top: 5rem;
  font-size: 3rem;
}

.heroBox p {
  margin-top: 1rem;
}

.heroButton {
  color: rgb(63, 63, 63);
  background-color: white;
  margin-top: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  font-style: italic;
  border: solid 3px rgb(62, 62, 62);
}

.imgContainer {
  height: 40vw;
  width: 60vh;
  overflow: hidden;
  background-repeat: no-repeat;
  /* border-radius: 50%; */
}

.img {
  height: 100%;
  width: 100%;
}

.svgContainer {
  margin: 0 auto;
  /* background-color: red; */
  height: 25rem;
  width: 25rem;
}

.pcSvg {
  height: 100%;
  width: 100%;
}

.divider {
  height: 100vh;
  width: 100%;
  background-color: white;
}
.divider2 {
  height: 100vh;
  width: 100%;
  background-color: white;
}

/* ====================================
              INTRO
==================================== */

.intro {
  height: 120vh;
  width: 100%;
  /* border: solid rgb(34, 223, 104) 4px; */
  text-align: center;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introFirstBox {
  height: 24rem;
  width: 90%;
  background-color: #3e77f3;
  margin-bottom: 3rem;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: 0 0 25px 15px rgb(0 0 0 / 20%);
  border: 1px solid transparent;
}
.introFirstBox h2 {
  margin-top: 1rem;
  font-size: 2.25rem;
  letter-spacing: 2px;
  color: #fefefe;
  font-style: italic;
}

.firstBoxSvgs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.introFirstBox div {
  margin-top: 2rem;
}

.introFirstBox p {
  font-size: 1.25rem;
  margin: 3rem;
  line-height: 1.5rem;
  color: #fefefe;
}
.responsiveSvgContainer {
  margin: 0.5rem;
  height: 4rem;
}
.responsiveSvgContainer img {
  margin: auto;
}
.responsiveSvg {
  height: 100%;
}

.introSecondBox {
  height: 40rem;
  width: 100%;
  /* background-color: rgb(173, 45, 185); */
  /* border: 5px solid #0066ff; */
}

.infoBox {
  margin-top: 4rem;
  /* background-color: red; */
}
.infoBox h3 {
  font-size: 1.5rem;
}
.infoBox p {
  margin: 1rem 1rem;
}
/* ====================================
              PORTFOLIO
==================================== */

.portfolio {
  height: 100rem;
  width: 95%;
  /* background-color: rgb(186, 241, 243); */
  text-align: center;
  margin: 2rem;
  border-radius: 2rem;
  color: rgb(42, 42, 42);
  /* box-shadow: 0 0 25px 15px rgb(0 0 0 / 10%);
  border: 1px solid transparent; */
}

.myPortfolioH2 {
  font-size: 1.75rem;
  margin: 2rem;
  font-style: italic;
  letter-spacing: 1.5px;
  font-weight: 600;
  color: #424242;
}

.portfolioBox1 {
  margin: 3.5rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
  width: 90%;
  background-color: #a5ddf6;
  border-radius: 2rem;
  border: 2px solid #3e77f3;
  box-shadow: 0 0 25px 15px rgb(0 0 0 / 20%);
  border: 1px solid transparent;
}
.portfolioPng1Container {
  height: 13rem;
  width: auto;
  overflow: hidden;
}

.portfolioPng1 {
  height: 100%;
  border-radius: 2rem;
}
.portfolioBox1 h3 {
  /* background-color: #ffffff; */
  font-size: 2rem;
  font-style: italic;
  letter-spacing: 1px;
  margin-top: 0.25rem;
}
.subHead {
  /* background-color: #ffffff; */
  font-style: italic;
}

.portfolioWebsiteInfo {
  margin-top: 2rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
  font-style: italic;
  /* background-color: #ffffff; */
}

.visitButton {
  margin: 0.5rem auto;
  height: 2.5rem;
  width: 5rem;
  border-radius: 1rem;
  color: #ffffff;
  background-color: #0066ff;
  cursor: pointer;
  font-weight: 700;
}

/* ====================================
              WHO I AM
==================================== */

.myInfo {
  height: 40rem;
  width: 80%;
  background-color: #57c7fb;
  text-align: center;
  border-radius: 2rem;
  margin-bottom: 8rem;
  color: rgb(42, 42, 42);
  box-shadow: 0 0 25px 15px rgb(0 0 0 / 20%);
  border: 1px solid transparent;
}
.myInfo h2 {
  font-size: 1.75rem;
  margin-top: 2rem;
  font-style: italic;
  letter-spacing: 1.5px;
  font-weight: 600;
}

.myInfoText {
  margin: 2rem;
}

.myInfo h4 {
}

/* ===========================

            footer

=========================== */

.footer {
  margin: 0 auto;
  padding-top: 1rem;
  height: 20vh;
  width: 100%;
  background-color: #3e77f3;
  text-align: center;
  color: rgb(255, 255, 255);
}
.footerLogo {
  display: flex;
  margin: 0 auto;
  height: 4rem;
  width: 10rem;
  z-index: 1;
  text-align: left;
  margin-bottom: 1rem;
}
.footerSvg {
  height: 100%;
  width: 100%;
}

/* ===========================

            media queries

=========================== */ ;
