/* ====================================
              NOTES
==================================== */

/* background-color: #2a52be; */
/* background-color: #0066ff; */

/* ====================================
              END OF NOTES
==================================== */
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

/* ====================================
              NAV
==================================== */

.nav {
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0066ff;
  color: white;
}

.navSvgContainer {
  display: flex;
  height: 4rem;
  z-index: 1;
}

.navSvg {
  height: 100%;
  width: 100%;
}
.ieDesignsContainer {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  margin-top: 1.5rem;
}
.ieDesignsContainer div {
  font-size: 1rem;
  font-weight: 600;
}
/* ====================================
              HERO
==================================== */
.hero {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  height: 110vh;
  width: 100%;
  background-image: url("../public/layers4.svg");
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  font-style: italic;
}

.heroBox {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 55rem;
  width: 90%;
}

.heroBox h1 {
  margin-top: 5rem;
  font-size: 3rem;
}

.heroBox p {
  margin-top: 1rem;
}

.heroButton {
  color: rgb(63, 63, 63);
  background-color: white;
  margin-top: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  font-style: italic;
  border: solid 3px rgb(62, 62, 62);
}

.imgContainer {
  height: 40vw;
  width: 60vh;
  overflow: hidden;
  background-repeat: no-repeat;
  /* border-radius: 50%; */
}

.img {
  height: 100%;
  width: 100%;
}

.svgContainer {
  margin: 0 auto;
  /* background-color: red; */
  height: 25rem;
  width: 25rem;
}

.pcSvg {
  height: 100%;
  width: 100%;
}

.divider {
  height: 100vh;
  width: 100%;
  background-color: white;
}
.divider2 {
  height: 100vh;
  width: 100%;
  background-color: white;
}

/* ====================================
              INTRO
==================================== */

.intro {
  height: 145vh;
  width: 100%;
  border: solid rgb(34, 223, 104) 4px;
  text-align: center;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introFirstBox {
  height: 24rem;
  width: 90%;
  background-color: #3e77f3;
  margin: 6rem;
  padding: 1rem;
  border-radius: 2rem;
}
.introFirstBox h2 {
  margin-top: 1rem;
  font-size: 2.25rem;
  letter-spacing: 2px;
  color: #fefefe;
  font-style: italic;
}

.firstBoxSvgs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.introFirstBox div {
  margin-top: 2rem;
}

.introFirstBox p {
  font-size: 1.25rem;
  margin: 3rem;
  line-height: 1.5rem;
  color: #fefefe;
}
.responsiveSvgContainer {
  margin: 0.5rem;
  height: 4rem;
}
.responsiveSvgContainer img {
  margin: auto;
}
.responsiveSvg {
  height: 100%;
}

.introSecondBox {
  height: 40rem;
  width: 100%;
  /* background-color: rgb(173, 45, 185); */
  border: 5px solid #0066ff;
}

.infoBox {
  margin-top: 4rem;
  /* background-color: red; */
}
.infoBox h3 {
  font-size: 1.5rem;
}
.infoBox p {
  margin: 1rem 1rem;
}
/* ====================================
              PORTFOLIO
==================================== */

.portfolio {
  height: 80rem;
  width: 100%;
  /* background-color: blanchedalmond; */
  text-align: center;
  border: solid black 2px;
  margin: 2rem;
}

.myPortfolioH2 {
  font-size: 1.75rem;
  margin: 2rem;
  font-style: italic;
  letter-spacing: 1.5px;
  font-weight: 600;
}

.portfolioBox1 {
  margin: 2rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 33vh;
  width: 90%;
  background-color: #3e77f3;
  border-radius: 2rem;
  color: #fefefe;
}

.portfolioBox1 h3 {
  color: #222222;
  font-size: 2rem;
  font-style: italic;
  letter-spacing: 1px;
}

.portfolioBox1 p {
  color: #fefefe;
}

.portfolioBoxOthersContainer {
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* background-color: rgb(159, 196, 243); */
  border: solid 2px rgb(217, 69, 35);
}
/* 
.portfolioBoxOthers {
  margin: auto 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
  width: 90%;
  background-color: rgb(174, 228, 237);
  border: solid 2px rgb(192, 255, 240);
  border-radius: 2rem;
}

.portfolioBoxOthers h3 {
  font-size: 2rem;
  font-style: italic;
  letter-spacing: 1px;
} */

.portfolioPng1Container {
  margin: 0 auto;
  height: 16rem;
  width: 16rem;
  border-radius: 10rem;
  overflow: hidden;
}

.portfolioPng1 {
  height: 100%;
}
.portfolioWebsiteInfo {
  margin-top: 1rem;
}

.visitButton {
  margin: 0 auto;
  width: 5rem;
  border-radius: 1rem;
  color: white;
  background-color: #0066ff;
  cursor: pointer;
}

/* ====================================
              WHO I AM
==================================== */

.myInfo {
  height: 50rem;
  width: 100%;
  background-color: rgb(217, 172, 236);
  text-align: center;
  border: solid black 2px;
}

/* ===========================

            footer

=========================== */

.footer {
  margin: 0 auto;
  height: 30vh;
  width: 100%;
  background-color: blanchedalmond;
  text-align: center;
}

/* ===========================

            media queries

=========================== */
